/* src/index.css (adicione/em cima do arquivo) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonte global */
:root {
  --font-sans: "Poppins", Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --text-default: #12202b;
}

/* aplicando globalmente */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}